!*.class
*~
.DS_Store
.vscode
.idea
.vagrant
*.zip
*.zip.orig
*.tgz
*.tar.gz
*.jar
*.iml
*.old
*.img
.venv
/apps*
conf/Fernflower/excluded_sha1.txt
dist/containerized/*.zip
dist/containerized_security_reports/_trivy_scan__oci*
dist/owasp_data/*
dist/grype_cache/*
dist/templating/mo_*
dist/templating/static/img/*
dist/templating/static/fonts/bootstrap-icons*
dist/templating/static/fonts/Metropolis-*
dist/templating/static/js/jquery*
dist/templating/static/js/d3*
dist/templating/static/js/timelines-chart*
dist/templating/static/css/bootstrap-icons-*
dist/templating/static/bootstrap-*-dist
util/00__release/git*
util/00__release/json-v2.sh
/docs/
py_env
/reports*
target
/tmp/
/work-in-progress/
node_modules
/util/05__build_docker
